framework: net45
source https://api.nuget.org/v3/index.json
source https://vrvis.myget.org/F/aardvark_public/api/v3/index.json

nuget FSharp.Core ~> 4.0.0

// Aardvark Base
nuget Aardvark.Base                        ~> 3.0.59
nuget Aardvark.Base.Incremental            ~> 3.0.59
nuget Aardvark.Base.FSharp                 ~> 3.0.59
nuget Aardvark.Base.Essentials             ~> 3.0.59

// Aardvark Rendering
nuget Aardvark.Base.Rendering              ~> 3.6.26
nuget Aardvark.SceneGraph                  ~> 3.6.26
nuget Aardvark.SceneGraph.IO               ~> 3.6.26

#if __WPF__
// WPF
nuget Aardvark.Application.WPF.GL          ~> 3.6.26
#endif

#if __WinForms__
// Winforms
nuget Aardvark.Application.WinForms.GL     ~> 3.6.26
#endif

#if __media__
//Aardvark Media
nuget Aardvark.UI            ~> 3.4.5             
nuget Aardvark.UI.Primitives ~> 3.4.5
nuget Aardvark.Service       ~> 3.4.5
nuget Aardvark.Cef.WinForms  ~> 3.4.5
nuget Aardvark.Cef           ~> 3.4.5
#endif



group Build
framework: net45
content: none
source https://vrvis.myget.org/F/aardvark_public/api/v3/index.json
source https://api.nuget.org/v3/index.json

github aardvark-platform/aardvark.fake:standalone
